<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CAPT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.MyPack.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HrLogin</display-name>
    <servlet-name>HrLogin</servlet-name>
    <servlet-class>com.MyPack.HrLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HrLogin</servlet-name>
    <url-pattern>/HrLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addHr</display-name>
    <servlet-name>addHr</servlet-name>
    <servlet-class>com.MyPack.addHr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addHr</servlet-name>
    <url-pattern>/addHr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteHr</display-name>
    <servlet-name>deleteHr</servlet-name>
    <servlet-class>com.MyPack.deleteHr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteHr</servlet-name>
    <url-pattern>/deleteHr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addJob</display-name>
    <servlet-name>addJob</servlet-name>
    <servlet-class>com.MyPack.addJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addJob</servlet-name>
    <url-pattern>/addJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteJob</display-name>
    <servlet-name>deleteJob</servlet-name>
    <servlet-class>com.MyPack.deleteJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteJob</servlet-name>
    <url-pattern>/deleteJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.MyPack.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Result</display-name>
    <servlet-name>Result</servlet-name>
    <servlet-class>com.MyPack.Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Result</servlet-name>
    <url-pattern>/Result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQues</display-name>
    <servlet-name>AddQues</servlet-name>
    <servlet-class>com.MyPack.AddQues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQues</servlet-name>
    <url-pattern>/AddQues</url-pattern>
  </servlet-mapping>
</web-app>